<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store - Your Best Marketplace</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
</head>

<body>
    <!-- Bootstrap core JavaScript -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top navbar-fixed-top" data-aos="fade-down">
        <div class="container">
            <a href="index.html " class="navbar-brand">
                <img src="images/logo.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Categories</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link">Rewards</a>
                    </li>

                </ul>
                <!-- Is Login -->
                <ul class="navbar-nav d-none d-lg-flex">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <img src="/images/icon-user.png" alt="" class="rounded-circle mr-2 profile-picture"> Hi,Uyee
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Dashboard</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <div class="dropdown-divinder"></div>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-inline-block mt-2">
                            <img src="/images/icon-cart-empty.svg" alt="">
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav d-block d-lg-none">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Hi, Anggara
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-inline-block">
                          Cart
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content  -->
    <div class="page-content page-details">
        <section class="store-breadcrumbs" data-aos="fade-down" data-aos-delay="100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Product Details
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="store-gallery" id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" data-aos="zoom-in">
                        <transition name="slide-fade" mode="out-in">
                            <img :src="photos[activePhoto].url" :key="photos[activePhoto].id" class="w-100 main-image" alt="">
                        </transition>
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="col-3 col-lg-12 mt-2 mt-lg-0" v-for="(photo,index) in photos" :key="photo.id" data-aos="zoom-in" data-aos-delay="100">
                                <a @click="changeActive(index)">
                                    <img :src="photo.url" class=" w-100 thumbnail-image" :class="{active:index==activePhoto}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="store-details-container" data-aos="fade-up">
            <section class="store-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h1>
                                Sofa Ternyaman
                            </h1>
                            <div class="owner">
                                By Galih Pratama
                            </div>
                            <div class="price">
                                $1,409
                            </div>
                        </div>
                        <div class="col-lg-2" data-aos="zoom-in">
                            <a href="/cart.html" class="btn btn-success px-4 text-white btn-block mb-3"> Add to cart</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="store-description">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <p>
                                The Nike Air Max 720 SE goes bigger than ever before with Nike's tallest Air unit yet for unimaginable, all-day comfort. There's super breathable fabrics on the upper, while colours add a modern edge.
                            </p>
                            <p>
                                Bring the past into the future with the Nike Air Max 2090, a bold look inspired by the DNA of the iconic Air Max 90. Brand-new Nike Air cushioning underfoot adds unparalleled comfort while transparent mesh and vibrantly coloured details on the upper are
                                blended with timeless OG features for an edgy, modernised look.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="store-review">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8 mt-3 mb-3">
                            <h5>
                                Customer Review (3)
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-8 ">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img src="/images/icon-testimonial-1.png" alt="" class="mr-3 rounded-circle">
                                    <div class="media-body">
                                        <h5 class="mt-2 mb-1">
                                            Hernawan Putra
                                        </h5>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fuga assumenda corporis explicabo autem molestiae consequuntur commodi cumque. Expedita perferendis suscipit hic quam nemo dolores provident. Quas, autem? Necessitatibus, natus.

                                    </div>
                                </li>
                                <li class="media">
                                    <img src="/images/icon-testimonial-2.png" alt="" class="mr-3 rounded-circle">
                                    <div class="media-body">
                                        <h5 class="mt-2 mb-1">
                                            Hernawan Putra
                                        </h5>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fuga assumenda corporis explicabo autem molestiae consequuntur commodi cumque. Expedita perferendis suscipit hic quam nemo dolores provident. Quas, autem? Necessitatibus, natus.

                                    </div>
                                </li>
                                <li class="media">
                                    <img src="/images/icon-testimonial-3.png" alt="" class="mr-3 rounded-circle">
                                    <div class="media-body">
                                        <h5 class="mt-2 mb-1">
                                            Hernawan Putra
                                        </h5>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fuga assumenda corporis explicabo autem molestiae consequuntur commodi cumque. Expedita perferendis suscipit hic quam nemo dolores provident. Quas, autem? Necessitatibus, natus.

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="pt-4 pb-2">
                        2020 Copyright Store. All Right Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Boostrrap -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/script/navbar-scroll.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
        var gallery = new Vue({
            el: "#gallery",
            mounted() {
                AOS.init();
            },
            data: {
                activePhoto: 1,
                photos: [{
                    id: 1,
                    url: "/images/product-details-1.jpg"
                }, {
                    id: 2,
                    url: "/images/product-details-2.jpg"
                }, {
                    id: 3,
                    url: "/images/product-details-3.jpg"
                }, {
                    id: 4,
                    url: "/images/product-details-4.jpg"
                }, ]
            },
            methods: {
                changeActive(id) {
                    this.activePhoto = id;
                }
            }
        })
    </script>
</body>

</html>