<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store - Your Best Marketplace</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
</head>

<body>
    <!-- Bootstrap core JavaScript -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top navbar-fixed-top" data-aos="fade-down">
        <div class="container">
            <a href="index.html " class="navbar-brand">
                <img src="images/logo.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a href="categories.html" class="nav-link">Categories</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link">Rewards</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="btn btn-success nav-link px4 text-white">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-content page-auth" id="register">
        <div class="section-store-auth" data-aos="fade-up">
            <div class="container">
                <div class="row align-items-center justify-content-center mt-5 row-login">

                    <div class="col-lg-4">
                        <h2>
                            Memulai untuk jual beli <br> dengan cara terbaru
                        </h2>
                        <form action="" class="mt-4">
                            <div class="form-group">
                                <label for="">Full Name</label>
                                <input type="text" class="form-control  is-valid" v-model="name" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="">Email Address</label>
                                <input type="email" class="form-control is-invalid" v-model="email">
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="">Store</label>
                                <p class="text-muted">
                                    Apakah anda juga ingin membuat toko ?
                                </p>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="is_store_open" id="openStoreTrue" v-model="is_store_open" :value="true">
                                    <label for="openStoreTrue" class="custom-control-label">
                                        Iya, boleh. 
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="is_store_open" id="openStoreFalse" v-model="is_store_open" :value="false">
                                    <label for="openStoreFalse" class="custom-control-label">
                                        Enggak, makasih.
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" v-if="is_store_open">
                                <label for="">Nama Toko</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group" v-if="is_store_open">
                                <label for="">Kategori</label>
                                <select name="category" class="form-control">
                                    <option value="" disabled>Select Category</option>
                                </select>
                            </div>
                            <a href="" class="btn btn-success btn-block  mt-4">
                                Sign Up Now
                            </a>
                            <a href="" class="btn btn-signup btn-block  mt-2">
                               Back to Sign In
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="pt-4 pb-2">
                        2020 Copyright Store. All Right Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Boostrrap -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/script/navbar-scroll.js"></script>
    <script src="/vendor/vue/vue.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script>
        AOS.init();
    </script>
    <script>
        Vue.use(Toasted);
        var register = new Vue({
            el: '#register',
            mounted() {
                AOS.init();
                this.$toasted.error("Maaf, tampaknya email sudah terdaftar pada sistem kami.", {
                    position: "top-center",
                    className: "rounded",
                    duration: 1000
                });
            },
            data: {
                name: "Angga Hazza Settin",
                email: "malintan@gmail.com",
                passwor: "",
                is_store_open: true,
                store_name: ""
            }
        });
    </script>


</body>

</html>