body {
    font-family: "Poppins", sans-serif;
}

.page-content {
    margin-top: 100px;
}

footer {
    border-top: 1px solid #E4E4E4;
    margin-top: 150px;
    p {
        color: #979797;
    }
}

.form-control {
    background-color: #f3f3f3;
}