.navbar-store {
    padding-top: 15px;
    @include media-breakpoint-down(md) {
        background-color: #fff !important;
    }
    .nav-item {
        .nav-link {
            @include media-breakpoint-up(lg) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .btn-success {
            background: #29A867;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .profile-picture {
        max-height: 45px;
    }
    .card-badge {
        display: inline-block;
        min-width: 2em;
        padding: 0.3em;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        background: #29a867;
        color: #fefefe;
        margin-left: -10px;
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}