.page-auth {
    .row-login {
        min-height: 70vh;
    }
    .section-store-auth {
        h2 {
            font-weight: 200;
            font-size: 28px;
            color: #0c0d36;
            margin-top: 0;
        }
        .form-control {
            border-radius: 8px;
            background-color: #f3f3f3;
        }
        .btn-signup {
            @include button-variant(#f3f3f3, transparent);
            color: #bbb;
        }
    }
}