.page-dashboard {
    #page-content-wrapper {
        background: #f5f5fb;
        min-width: 100vw;
        min-height: 100vh;
    }
    #sidebar-wrapper {
        margin-top: 60px;
        min-height: 100vh;
        margin-left: -15rem;
        transition: margin 0.25 ease-out;
        .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }
        .list-group {
            width: 15rem;
        }
    }
    #wrapper {
        &.toggled {
            #sidebar-wrapper {
                margin-left: 0;
            }
        }
    }
    .navbar-store {
        margin-top: 0px;
        background-color: #f5f5fb;
        box-shadow: 0px 4px 5px #cacad1;
        @include media-breakpoint-up(md) {
            background-color: transparent;
            box-shadow: none;
        }
    }
    .list-group-item {
        border: 0;
        font-size: 16px;
        color: #c5c5c5;
        &.active {
            background: linear-gradient(270deg, rgba(255, 113, 88, 0.32) 2%, rgba(255, 255, 255, 0) 100%);
            border-right: 4px solid #ff7158;
            color: #0c0d36;
        }
    }
    @include media-breakpoint-up(md) {
        #sidebar-wrapper {
            margin-left: 0;
            margin-right: 0px;
        }
        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }
        #wrapper {
            &.toggled {
                #sidebar-wrapper {
                    margin-left: -15rem;
                }
            }
        }
    }
    .section-content {
        margin-top: 100px;
        @include media-breakpoint-up(md) {
            margin-top: 20px;
            margin-left: 20px;
        }
        h5 {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #0c0d36;
        }
        .dashboard-title {
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            color: #0c0d36;
        }
        .dashboard-subtitle {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #9191a9;
        }
        .nav-pills {
            .nav-link {
                font-weight: normal;
                font-size: 18px;
                color: #9191a9;
                border-radius: 0;
                &.active {
                    font-weight: 500;
                    font-size: 18px;
                    color: #0c0d36;
                    border-bottom: 2px solid #0c0d36;
                    background: none;
                }
            }
        }
    }
}