.page-details {
    h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #0C0D36;
    }
    .store-review {
        .media {
            img {
                max-width: 50px;
            }
        }
        .media-body {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #525252;
            margin-bottom: 10px;
        }
    }
    .store-gallery {
        margin-top: 20px;
        img {
            border-radius: 10px;
        }
        .thumbnail-image {
            margin-bottom: 20px;
            border: 2px solid transparent;
            &:hover,
            &.active {
                border: 2px solid #ff7158;
            }
        }
    }
    .store-heading {
        margin-bottom: 10px;
        h1 {
            font-weight: normal;
            color: #0c0D36;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 0px;
        }
        .owner {
            font-size: 14px;
            line-height: 21px;
            font-weight: normal;
            color: #979797;
            margin-bottom: 8px;
        }
        .price {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #ff7158;
            margin-bottom: 10px;
        }
    }
    .store-description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 180%;
        color: #525252;
    }
}