.page-home {
    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }
    .store-trend-categories {
        margin-top: 30px;
    }
    .store-new-products {
        margin-top: 10px;
    }
}